<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktualna pogoda</title>
</head>
<body>
    <h1>Aktualna pogoda</h1>

    {% if weather %}
        <p>Miasto: {{ weather.city }}</p>
        <p>Temperatura: {{ weather.temperature }} °C</p>
        <p>Opis: {{ weather.description }}</p>
        <img src="http://openweathermap.org/img/wn/{{ weather.icon }}@2x.png" alt="ikona pogody">
    {% else %}
        <p>Nie udało się pobrać danych pogodowych.</p>
    {% endif %}
    <a href="{% url 'home' %}"><button>Powrót do strony głównej</button></a>
</body>
</html>